
/* html  */
  /* <!-- <div class="figures_wrapper">
          <div class="hours box">
            <p class="small">Course hours</p>
            <p class="big">1,451</p>
          </div>

          <div class="members box">
            <p class="small">Members</p>
            <p class="big">29k</p>
          </div>

          <div class="photo">
            <img
              src="./images/girl.png"
              alt="girl is drinking coffee"
              class="girl"
            />
          </div>
        </div> --> */

/* css  */

.photo::after {
  content: "";
  width: 317px;
  height: 1008px;

  border-radius: 158.5px;
  transform: rotate(45deg);
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);

  z-index: -2;

  position: absolute;
  right: 0px;
  top: -150px;
  overflow: hidden;
}

.photo::before {
  content: "";
  width: 317px;
  height: 560px;
  border-radius: 158.5px;

  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  z-index: -1;

  position: absolute;
  top: 171px;
  right: 219px;
}

.girl {
  position: absolute;
  top: 248px;
  right: 219px;
  border-radius: 158.5px;
}

.box {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 34px 54px #06168d29;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  position: absolute;
}

.small {
  font-size: 14px;
  color: #83869a;
  font-weight: 700;
  line-height: 150%;
}

.big {
  color: #13183f;
  font-weight: 800;
}

.members {
  width: 155px;
  height: 120px;
  right: 104px;
  top: 287px;
}

.hours {
  width: 199px;
  height: 120px;
  right: 457px;
  top: 524px;
  z-index: 3;
}