body {
  margin: 0;
  padding: 0;
  font-family: Plus Jakarta Sans;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  position: relative;
  overflow-x: hidden;
}

.button {
  border-radius: 28px;
  width: 168px;
  height: 59px;
  border: none;
  transition: 0.4s;
  cursor: pointer;

  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}

button:active {
  transform: scale(0.9);
}

/* `` header  */
/* ``nav section  */

header {
  max-width: 1120px;
  margin: 0 auto;
  /* position: relative; */
}

.logo {
  width: 111px;
  height: 28px;
}

.nav {
  display: flex;

  /* gap: 821px; */

  justify-content: space-between;
  padding: 24px 0px;
  margin-bottom: 64px;
}

.button_1 {
  background-color: #13183f;
  color: white;
}

.button_1:hover {
  background-color: #666ca3;
}

/* `` hero section  */

.hero_section {
  display: flex;
  height: 688px;
  max-width: 1120px;
  margin: 0 auto;
  /* height: 100%;
  width: 100%; */
  /* margin-left: 160px; */
  justify-content: space-between;
  /* overflow: hidden; */
  /* position: relative; */
  /* overflow: hidden; */
}
/* ``texts  */

.motto {
  display: flex;
  flex-direction: column;
  width: 457px;
  /* width: 50%; */
  margin-top: 110.5px;
}

h1 {
  color: #13183f;
  font-weight: 800;
  line-height: 120%;
  font-size: 56px;
}

.description {
  color: #83869a;
  font-weight: 500;
  line-height: 150%;
  font-size: 18px;

  text-align: left;
  margin-bottom: 40px;
}

.button_2 {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  color: white;
}

.button_2:hover {
  background: linear-gradient(#ff70487c, #f02aa773);
}

/* ``main  */
main {
  margin-bottom: 88px;
  /* overflow-x: hidden; */
}

/* ``illustration  */

.hero_ilustrations {
  /* width: 50%; */
  height: 688px;
  /* position: relative;
  overflow: hidden; */
}

.purple_shape {
  width: 317px;
  height: 1008px;

  border-radius: 158.5px;
  transform: rotate(45deg);
  z-index: -2;

  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);

  position: absolute;
  right: 140px;
  top: -180px;
}

.pink_wrapper {
  width: 317px;
  height: 560px;
  border-radius: 158.5px;

  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);

  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    top: 78px;
  }
}

.illustration_info {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 34px 54px #06168d29;
  display: inline-block;

  position: absolute;
}

.info1 {
  padding: 20px 72px 19px 24px;

  right: 625px;
  top: 520px;
}

.info2 {
  padding: 20px 57px 19px 24px;
  right: 270px;
  top: 310px;
}

.small {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;

  color: #83869a;
  margin: 0;
}

.big {
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;

  color: #13183f;
  margin: 0;
}

/* `` cards  */

.card_wrapper {
  display: flex;
  gap: 32px;
  margin: auto;
  width: 1120px;
}

.card_pink {
  height: 350px;
  width: 352px;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 15px;
  font-weight: 800;
  color: white;
}

.card_pink p {
  margin: 64px 32px 144px 32px;
  font-weight: 800;
  line-height: 120%;
  font-size: 35px;
}

.card {
  height: 350px;
  width: 352px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin-bottom: 56px;
  position: relative;
}

.icon {
  position: absolute;
  top: -28px;
}

.card h3 {
  color: #13183f;
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
}

.card p {
  color: #83869a;
  font-weight: 500;
  width: 288px;
  font-size: 18px;
  line-height: 150%;
}

.button_3 {
  border: none;
  background-color: white;
  color: #f74780;
  font-weight: 700;
  line-height: 150%;
  font-size: 18px;
  padding: 0;
}


.button_3:hover {
  color: #ffa7c3;
  cursor: pointer;
}

.card_box {
  width: 288px;
  height: 218px;
  margin: 64px 32px 40px 32px;
  display: inline-block;
}

/* ``footer  */

.footer_wrap {
  height: 107px;

  margin: 0 auto;
  background-color: #13183f;

  display: flex;
  align-items: center;
  gap: 821px;
  justify-content: center;
  /* display: flex; */
}

.button_4 {
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  color: white;
}

.button_4:hover {
  background:
    linear-gradient(180deg, #a338e06e 20%, #fc43ddaf 100%),
    linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255));
}
