body {
  font-family: Kumbh Sans;
  background-image: url(./images/Background.png);
  background-color: #19a1ae;
  background-repeat: no-repeat;

  background-size: cover;
  background-position: center;
}

.card {
  width: 350px;
  height: 374px;
  margin: auto;
  margin-top: 173px;
}

.photos {
  position: relative;
  height: 144px;
}

.bubbles {
  border-radius: 15px 15px 0px 0px;
  background-image: linear-gradient(#0989b400);
  background-color: #41cbd3;
  width: 350px;
  height: 148px;
}

.profile_picture {
  margin: auto;
  width: 96px;
  height: 96px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid white;

  position: absolute;
  bottom: -48px;
  left: 127px;

  display: flex;
  justify-content: center;
}

.profile_info {
  padding-top: 49.06px;
  background-color: white;
  width: 350px;

  border-radius: 0px 0px 15px 15px;
}

.name h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 125%;

  margin-left: 108.5px;

  display: inline-block;

  color: #2e3349;
}

.name > p:first-of-type {
  font-size: 18px;
  font-weight: 400;
  line-height: 125%;

  display: inline-block;

  margin: 0px 108.5px 0px 8px;

  align-self: center;

  color: #6b7082;
}

.name {
  display: flex;
}

.city {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: #6b7082;
  padding-bottom: 24px;
  border-bottom: 1px solid #e8e9ec;
  margin-bottom: 25px;
}

.insights {
  display: flex;
  justify-content: space-around;
  padding-bottom: 24px;
}
ul {
  /* display: flex; */
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.numbers {
  font-size: 18px;
  font-weight: 700;
  color: #2e3349;
  /* display: flex; */
}

.insights_titles {
  color: #6b7082;
  font-size: 10px;
  font-weight: 400;
}
